<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>SUSI AI Smart Speaker Control</title>
    <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='signin.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" id="">
    <script type="text/javascript" src="{{ url_for('static', filename='fontawesome.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='interact.js') }}" ></script>
  </head>
  <body>
    <div class="container" >
      <div class="row ">
         <div class="form-group col-md-12 ">
           <div class="card person-card ">
            <div class="card-body">
              <img id="img_sex" class="person-img" src="{{ url_for('static', filename='SUSI.AI_Icon_2017a.svg') }}">
              <h2 id="" class="card-title">Smart Speaker Control</h2>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12" style="padding=0.5em;">
          <div class="card">
            <div class="card-body">
              <div class="row">
              <div class="form-group col-md-2">Volume Control</div>
                <div class="form-group col-md-10">
                  <span class="font-weight-bold">0</span>
                  <i class="fas fa-volume-down"></i>
                  <input id="vol-control" class="slider" type="range" min="0" max="100" value="100" step="1" oninput="SetVolume(this.value)" onchange="SetVolume(this.value)" width="100%" style="min-width: 80%;max-width: 80%;" />
                  <i class="fas fa-volume-up"></i>
                  <span class="font-weight-bold">100</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6" style="padding=0.5em;">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-body">
                  <h2 class="card-title">Playback Control</h2>
                  <div class="col-md-12">
                    <div class="row">
                      <div class="col-md-3 col-sm-12">
                        <button onclick="control('pause')" class="btn btn-outline-secondary m-2" style="min-width: 100%;max-width: 100%;">
                          Pause
                        <i class="fas fa-pause"></i>
                        </button>
                      </div>
                      <div class="col-md-3 col-sm-12">
                        <button onclick="control('resume')" class="btn btn-outline-success m-2" style="min-width: 100%;max-width: 100%;">
                          Resume
                          <i class="fas fa-play"></i>
                        </button>
                      </div>
                      <div class="col-md-3 col-sm-12">
                        <button onclick="control('restart')" class="btn btn-outline-primary m-2" style="min-width: 100%;max-width: 100%;">
                          Restart
                          <i class="fa fa-retweet"></i>
                        </button>
                      </div>
                      <div class="col-md-3 col-sm-12">
                        <button onclick="control('stop')" class="btn btn-outline-danger m-2" style="min-width: 100%;max-width: 100%;">
                          Stop
                          <i class="fas fa-stop"></i>
                        </button>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-4 col-sm-12">
                        <button onclick="control('previous')" class="btn btn-outline-warning m-2" style="min-width: 100%;max-width: 100%;">
                            Previous
                            <i class="fas fa-step-backward"></i>
                        </button>
                      </div>
                      <div class="col-md-4 col-sm-12">
                        <button onclick="control('shuffle')" class="btn btn-outline-primary m-2" style="min-width: 100%;max-width: 100%;">
                          Shuffle
                          <i class="fa fa-random"></i>
                        </button>
                      </div>
                        <div class="col-md-4 col-sm-12">
                        <button onclick="control('next')" class="btn btn-outline-info m-2" style="min-width: 100%;max-width: 100%;">
                            Next
                            <i class="fas fa-step-forward"></i>
                        </button>
                         </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
      <!--div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Speaker Control</h2>
                    <div class="col-md-12">
                     <div class="row">
                        <div class="col-md-4 col-sm-12">
                           <button onclick="reset('hard')" class="btn btn-outline-dark m-2" style="min-width: 100%;max-width: 100%;">
                                Hard Reset
                                <i class="fas fa-stop"></i>
                          </button>
                         </div>
                        <div class="col-md-4 col-sm-12">
                            <button onclick="reset('soft')" class="btn btn-outline-dark m-2" style="min-width: 100%;max-width: 100%;">
                                Soft Reset
                                <i class="fas fa-stop"></i>
                          </button>
                         </div>
                        <div class="col-md-4 col-sm-12">
                        <button onclick="reset('AP')" class="btn btn-outline-dark m-2" style="min-width: 100%;max-width: 100%;">
                            AP Reset
                            <i class="fas fa-stop"></i>
                      </button>
                         </div>
                       </div>
                    </div>
                </div>
            </div>
        </div>
    </div-->
            <div class="row">
              <div class="col-md-12">
                <div class="card">
                  <div class="card-body">
                    <h2 class="card-title">Play YouTube songs</h2>
                    <div class="form-group ">
                      <div class="custom-control">
                        <label class="form-control-label" for="link">Enter YouTube Link</label>
                        <input type="url" class="form-control" id="ytb-link">
                      </div>
                    </div>
                    <button onclick="playYoutube()" class="btn btn-outline-info m-2" >
                      Play
                      <i class="fas fa-play"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-12">
                <div class="card">
                  <div class="card-body">
                    <h2 class="card-title">Offline Song</h2>
                    <label class="form-control-label" for="link">Select Device from which you wanna play:
                    <button onclick="refershDeviceList()"><i class="fas fa-sync-alt"></i></button>
                    </label>
                    <select id="mounted-device" class="form-control" onclick="getOfflineSong(this)">
                    </select>
                  </div>
                </div>
              </div>
            </div>
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-body" id="layout">
                  <button onclick="window.location.href = '/set_password';" class="btn btn-warning m-2">
                    Set or Change Password
                    <i class="fa fa-key"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
