
.idea/
.vscode
.response
extras/cmu_us_slt.flitevox
**/__pycache__/
/susi_python/
main/hotword_engine/snowboy/_snowboydetect.so
main/hotword_engine/snowboy/snowboydetect.py
/extras/output.wav
/snowboy/
seeed-voicecard/
raspi/soundserver/hwmixer
raspi/soundserver/vlcplayer
raspi/soundserver/static/css
raspi/soundserver/static/js
raspi/soundserver/static/media
raspi/soundserver/templates/index.html
susi_installer/raspi/susi.ai
