
.idea/
.vscode
.response
extras/cmu_us_slt.flitevox
**/__pycache__/
/susi_python/
main/hotword_engine/snowboy/_snowboydetect.so
main/hotword_engine/snowboy/snowboydetect.py
/extras/output.wav
/snowboy/
seeed-voicecard/
raspi/controlserver/hwmixer
raspi/controlserver/vlcplayer
raspi/controlserver/static/css
raspi/controlserver/static/js
raspi/controlserver/static/media
susi_installer/raspi/susi.ai
