[Unit]
Description=Control Server for SUSI Linux
After=multi-user.target

[Service]
User=pi
Type=simple
WorkingDirectory=/home/pi/SUSI.AI
Environment=PYTHONPATH=/home/pi/SUSI.AI/susi_installer/pythonmods
ExecStart=/usr/bin/python3 /home/pi/SUSI.AI/susi_installer/raspi/controlserver/controlserver.py

[Install]
WantedBy=multi-user.target
