[Unit]
Description=Python Server for SUSI Linux
After=multi-user.target

[Service]
Type=simple
WorkingDirectory=/home/pi/SUSI.AI
ExecStart=/usr/bin/python3  /home/pi/SUSI.AI/susi_installer/raspi/access_point/server/server.py

[Install]
WantedBy=multi-user.target
