[Unit]
Description=Update Check- SUSI Linux
Wants=network-online.target
After=network-online.target

[Service]
User=pi
Type=oneshot
ExecStart=/home/pi/SUSI.AI/susi_installer/raspi/update_daemon/update_check.sh

[Install]
WantedBy=multi-user.target

