<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>SUSI AI Smart Speaker Control</title>
    <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='signin.css') }}" rel="stylesheet">
  </head>

  <body class="text-center">
    <div class="form-signin">
      <img class="mb-4" src="{{ url_for('static', filename='SUSI.AI_Icon_2017a.svg') }}" alt="" width="256" height="256">
      <h1 class="h4 mb-3 font-weight-normal">Control Your Smart Speaker</h1>
      <button onclick="control()">stop</button>
    </div>

    <script>
      function control(){
        var http = new XMLHttpRequest();
        var url = '/stop';
        http.open('POST', url, true);
        http.send();
      }
    </script>

  </body>
</html>
