<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>SUSI AI Smart Speaker Control</title>
    <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='signin.css') }}" rel="stylesheet">
    <script type="text/javascript" src="{{ url_for('static', filename='fontawesome.min.js') }}"></script>
  </head>

  <body class="text-center">

    <div class="form-signin">
      <img class="mb-4" src="{{ url_for('static', filename='SUSI.AI_Icon_2017a.svg') }}" alt="" width="256" height="256">
      <h1 class="h3 mb-3 font-weight-normal">Smart Speaker Control</h1>
        <div class="form-group">
          <fieldset class="the-fieldset">
              <legend class="text-left w-auto">Volume Control</legend>
              <span class="font-weight-bold">0</span>
              <i class="fas fa-volume-down"></i>
              <input id="vol-control" class="slider" type="range" min="0" max="100" value="100" step="1" oninput="SetVolume(this.value)" onchange="SetVolume(this.value)"></input>
              <i class="fas fa-volume-up"></i>
              <span class="font-weight-bold">100</span>
          </fieldset>
          <fieldset class="the-fieldset">
              <legend class="text-left w-auto">Playback Control</legend>
          		<button onclick="control('pause')" class="btn btn-outline-primary m-2">
          			Pause
          			<i class="fas fa-pause"></i>
          		</button>
              <button onclick="control('resume')" class="btn btn-outline-primary m-2">
          			Resume
          			<i class="fas fa-play"></i>
          		</button>
              <button onclick="control('restart')" class="btn btn-outline-primary m-2">
          			Restart
          			<i class="fa fa-retweet"></i>
          		</button>
              <br><br>
              <button onclick="control('previous')" class="btn btn-outline-primary m-2">
          			Previous
          			<i class="fas fa-step-backward"></i>
          		</button>
              <button onclick="control('next')" class="btn btn-outline-primary m-2">
          			Next
          			<i class="fas fa-step-forward"></i>
          		</button>
              <button onclick="control('shuffle')" class="btn btn-outline-primary m-2">
          			Shuffle
          			<i class="fa fa-random"></i>
          		</button>
              <br><br>
              <button onclick="control('stop')" class="btn btn-outline-danger m-2">
          			Stop
          			<i class="fas fa-stop"></i>
          		</button>
          </fieldset>
          <button onclick="window.location.href = '/set_password';" class="btn btn-warning m-2">
            Set or Change Password
            <i class="fa fa-key"></i>
          </button>

        </div>
    </div>
    <script>
      function control(action){
        console.log(action)
        var http = new XMLHttpRequest();
        var url = '/'+action;
        http.open('POST', url, true);
        http.send();
      }
      function SetVolume(val){
        console.log(val)
        var http = new XMLHttpRequest();
        var url = '/volume?val='+val;
        http.open('POST', url, true);
        http.send();
      }
    </script>
  </body>
</html>
