html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #f5f5f5;
}

.form-signin {
  width: 100%;
  max-width: 50vh;
  padding: 15px;
  margin: auto;
}

.the-fieldset {
    border: 1px solid #A9A9A9;
    padding: 10px;
}
